html{
    font-family: sans-serif;
}
input{
    width: 30px;
}
.boitePrincipale{
    margin-left:auto ;
    margin-right:auto ;
    height: 350px;
    width: 300px;
    background-color: #B03737;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border: solid #922F2F 4px;
    color: white;
    

}
.boiteInput{
    height: 100px;
    width: 80%;
    background-color: brown;
    
}
.box{
    height: 100px;
    width: 80%;
    background-color: rgb(75, 30, 30);
}
.box1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #909090;
    width : 300px;
    border: solid #909090 4px;
}
.flex{
    display: flex;
    flex-direction: column;
}
.box2{
    font-size: 25px;
    margin-left: -150px;
    margin-top: 10px;
}
