html{
    font-family: sans-serif;
}
input{
    width: 30px;
}
.boitePrincipale{
    height: 400px;
    background-color: rgb(247, 130, 94);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    

}
.boiteInput{
    height: 100px;
    width: 80%;
    background-color: brown;
    
}
.box{
    height: 100px;
    width: 80%;
    background-color: rgb(75, 30, 30);
}
.box1{
    display: flex;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: column;
}